In [4]:
print("Hola")

Hola

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('baseClientesHackaton2022.csv')

In [7]:
df.head(2)

,idCliente,nombre,apellidoPaterno,apellidoMaterno,fechaNacimiento,sexo,segmento,nacionalidad,rfc,tipoID,numeroID,cuenta,email
0,BF000002999,Amelia,Rivero,Calva,25/04/54,Femenino,1.0,Mexicana,RICA2504540SQ,Licencia,RpiCnTz0mwMdQrUChFMs,BE12 7743 3050 0148 8965 5830,ameliarivero@outlook.com
1,BF000003000,Abril,Ocaña,Almeda,23/10/88,Femenino,1.0,Mexicana,OAAA2310889RD,Licencia,eNZIQWroluPdimMBvLvR,BE73 6285 5537 7223 3693 3275,NaN

In [9]:
df.iloc[0]

idCliente                            BF000002999
nombre                                    Amelia
apellidoPaterno                           Rivero
apellidoMaterno                            Calva
fechaNacimiento                         25/04/54
sexo                                    Femenino
segmento                                     1.0
nacionalidad                            Mexicana
rfc                                RICA2504540SQ
tipoID                                  Licencia
numeroID                    RpiCnTz0mwMdQrUChFMs
cuenta             BE12 7743 3050 0148 8965 5830
email                   ameliarivero@outlook.com
Name: 0, dtype: object

NameError: name 'df' is not defined

In [10]:
df.isna().sum()

idCliente              0
nombre                 1
apellidoPaterno        2
apellidoMaterno    11064
fechaNacimiento        3
sexo                   1
segmento               1
nacionalidad           1
rfc                11065
tipoID                 5
numeroID               5
cuenta                 1
email              66574
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100010 entries, 0 to 100009
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   idCliente        100010 non-null  object
 1   nombre           100009 non-null  object
 2   apellidoPaterno  100008 non-null  object
 3   apellidoMaterno  88946 non-null   object
 4   fechaNacimiento  100007 non-null  object
 5   sexo             100009 non-null  object
 6   segmento         100009 non-null  float64
 7   nacionalidad     100009 non-null  object
 8   rfc              88945 non-null   object
 9   tipoID           100005 non-null  object
 10  numeroID         100005 non-null  object
 11  cuenta           100009 non-null  object
 12  email            33436 non-null   object
dtypes: float64(1), object(12)
memory usage: 9.9+ MB